@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Personaliza tus estilos aquí */
body {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  section {
    padding: 4rem;
  }
}