<section id="about" class="py-20">
  <div class="container mx-auto px-4">
    <h2
      class="text-3xl md:text-4xl font-bold text-center mb-12 text-gray-900"
      data-aos="fade-up"
    >
      Sobre Mí
    </h2>

    <div
      class="max-w-4xl mx-auto bg-white/60 backdrop-blur-sm p-8 rounded-lg shadow-md"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <p class="text-gray-700 mb-6 leading-relaxed text-justify">
        Me gustan las ciencias de la computación, tengo pasión por el desarrollo
        backend y la inteligencia artificial, en especial el procesamiento de
        voz y la generación de datos sintéticos. Me motiva aplicar conocimientos
        técnicos en entornos reales para crear soluciones innovadoras, y deseo
        comenzar a integrarlos en el ámbito laboral mientras continúo
        aprendiendo con el propósito de compartir lo adquirido.
      </p>
    </div>

    <!-- Sections -->
    <div class="mt-16 flex flex-col md:flex-row gap-8 max-w-4xl mx-auto">
    <!-- <div class="mt-16 grid grid-cols-1 md:grid-cols-3 gap-8 max-w-4xl mx-auto"> -->
      <!-- Education -->
      <!-- <div
        class="bg-white/60 backdrop-blur-sm p-6 rounded-lg shadow-md text-center"
        data-aos="fade-up"
        data-aos-delay="200"
      > -->

      <div class="bg-white/60 backdrop-blur-sm p-6 rounded-lg shadow-md text-center" data-aos="fade-up"
        data-aos-delay="200">

        <div
          class="w-16 h-16 mx-auto mb-4 flex items-center justify-center bg-primary-100 text-primary-600 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
            ></path>
          </svg>
        </div>
        <h3 class="text-xl font-semibold mb-2 text-gray-900">Educación</h3>
        <p class="text-gray-700">
          Licenciatura en Ciencias de la Computación, Universidad Nombre, 2018-2022
        </p>
      </div>

      <!-- Experience -->
      <!-- <div
        class="bg-white/60 backdrop-blur-sm p-6 rounded-lg shadow-md text-center"
        data-aos="fade-up"
        data-aos-delay="300"
      > -->
       <div class="bg-white/60 backdrop-blur-sm p-6 rounded-lg shadow-md text-center" data-aos="fade-up"
        data-aos-delay="300">
        <div
          class="w-16 h-16 mx-auto mb-4 flex items-center justify-center bg-primary-100 text-primary-600 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
            ></path>
          </svg>
        </div>
        <h3 class="text-xl font-semibold mb-2 text-gray-900">Experiencia</h3>
        <p class="text-gray-700">
          +5 años de experiencia en desarrollo web y ingeniería de software
        </p>
      </div>

      <!-- Skills -->
      <div
        class="bg-white/60 backdrop-blur-sm p-6 rounded-lg shadow-md text-center"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div
          class="w-16 h-16 mx-auto mb-4 flex items-center justify-center bg-primary-100 text-primary-600 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"
            ></path>
          </svg>
        </div>
        <h3 class="text-xl font-semibold mb-2 text-gray-900">Habilidades</h3>
        <p class="text-gray-700">
          JavaScript, TypeScript, React, Node.js, Astro, TailwindCSS
        </p>
      </div>
    </div>

  </div>
</section>