---
const sections = [
  {
    title: "Bachiller en Ciencias",
    description: "Unidad Educativa La Salle Loja (2013-2019)",
    icon: "https://img.icons8.com/ios-filled/50/007BFF/book.png "
  },
  {
    title: "Universidad",
    description: "Ingeniero en Ciencias de la Computación (2019-2025)",
    icon: "https://img.icons8.com/?size=100&id=2341&format=png&color=000000"
  },
  {
    title: "Autónomo",
    description: "(2024 - Actual)",
    icon: "https://img.icons8.com/?size=100&id=20308&format=png&color=000000"
  }
];


---

<section id="about" class="py-20">
  <div class="container mx-auto px-4">
    <h2
      class="text-3xl md:text-4xl font-bold text-center mb-12 text-gray-900"
      data-aos="fade-up"
    >
      Sobre Mí
    </h2>

    <div
      class="max-w-4xl mx-auto bg-white/60 backdrop-blur-sm p-8 rounded-lg shadow-sm transition-transform duration-300 hover:-translate-y-1 hover:shadow-md"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <p class="text-gray-700 mb-6 leading-relaxed text-justify">
        Me gustan las ciencias de la computación, tengo pasión por el desarrollo
        backend y la inteligencia artificial, en especial el procesamiento de
        voz y la generación de datos sintéticos. Me motiva aplicar conocimientos
        técnicos en entornos reales para crear soluciones innovadoras, y deseo
        comenzar a integrarlos en el ámbito laboral mientras continúo
        aprendiendo con el propósito de compartir lo adquirido.
      </p>
    </div>

    <div class="mb-12"> 

    </div>

    <!-- Sections -->

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 max-w-4xl mx-auto">
      {sections.map((section, index) => (
        <div 
          class="flex flex-col items-center justify-center bg-white/60 backdrop-blur-sm p-4 rounded-lg shadow-sm transition-transform duration-300 hover:-translate-y-1 hover:shadow-md"
          data-aos="fade-up"
          data-aos-delay={index * 50}
        >
          <img src={section.icon} alt={section.title} class="w-16 h-16 mb-3" />
          <h3 class="text-sm font-medium text-gray-900">{section.title}</h3>
          <p class="text-gray-700">{section.description}</p>
        </div>
      ))}
    </div>



  </div>
</section>
